body {
    background-color: $Very-dark-blue;

}

.container {
    border: 1px solid #ff0000;
    width: 88%;
    margin: 1.3rem auto;
}

.menu-card {
    background-color: $Dark-blue;
    border-radius: 1rem;
    padding: 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    img {
        width: 30%;
        border: 3px solid #fff;
        border-radius: 50%;
    }
}