:root, * {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    /* 1rem = 10px, 0.1rem = 1px */
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background: none;
}